	header {margin:0 auto;width:98%;}
	form {display: none;}
	h1 {font-size: 0.8em;}
	.main {background: #BBB; width: 98%; margin: 0 auto;box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);}
	.answer {background-color: #BBB; width:96% ; margin:0 auto; border: 1px solid #BBB;}
	.answer p {font-size: 0.9em;padding: 0;}
	.question p {font-size: 1.5em;  color: #222; padding: 0px; padding-left: 5px;}
	.answer ul {list-style:none;margin: 0px; padding: 0px;}
	.answer ul li {padding: 0px; font-size: 0.9em;line-height: 25px;border: 1px solid #CCC;height:50px;display: list-item;cursor: pointer;}
	.answer ul li:hover {background-color: #e5e5e5;}
