	header {width:388px;margin:0 auto;}
	form {display: none;}
	p {font-size:18px; color:#0080FF;}
	.main {background: #BBB; width: 98%;height: 400px; margin: 0 auto;box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);}
	.answer {background-color: #BBB;width:388px; margin:0 auto; border: 1px solid #BBB;}
	.answer p {font-size: 12px;}
	.question p {font-size: 18px;  color: #222; padding: 5px; }
	.answer ul {list-style:none;margin: 0px; padding: 0px;}
	.answer ul li {padding: 3px; font-size: 14px;line-height: 25px;border: 1px solid #CCC;height:50px;display: list-item;cursor: pointer;}
	.answer ul li:hover {background-color: #e5e5e5;}
